<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="0.9 rem" class="ion-align-self-center">
          <ion-searchbar showCancelButton="never"></ion-searchbar>
        </ion-col>
        <ion-col size="1" class="ion-align-self-center">
          <div class="name-cart">
          <a [routerLink]="['/carrinho']">
            
              <img src="../../assets/img/car.jpg">
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body">
    <div class="foto_produtos">
      <img src="../../assets/img/banner.jpg">
    </div>
    <div class="req">
      <a href="#">Todos os Remédios</a>
    </div>

    <article>
      <ul>
        <li *ngFor="let item of listaProdutos" >
          <ion-card>
            <ion-card-header>
              <img src="../../assets/img/{{item.img}}" alt="">
              <ion-card-subtitle>{{item.nome}}</ion-card-subtitle>
              <ion-card-title>R${{item.preco}}</ion-card-title>
            </ion-card-header>
            <!--<a href="carrinho">Adicionar ao Carrinho</a>-->
          </ion-card>
        </li>
      </ul>
    </article>
                  
  </div>
  <!--body-->
</ion-content>