<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="0.9 rem" class="ion-align-self-center">
          <ion-searchbar showCancelButton="never"></ion-searchbar>
        </ion-col>
        <ion-col size="1" class="ion-align-self-center">
          <div class="name-cart">
            <a [routerLink]="['/carrinho']">
              <img src="../../assets/img/car.jpg">
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="body">
    <div class="initial-box">
      <div class="text">
        Você tem um total de {{nCompras}} produto(s) no carrinho
      </div>
      <p>Confira os itens do seu carrinho antes de finalizar a compra</p>
    </div>

    <div class="botao">
      <button>Finalizar Compra</button>
    </div>

    <div class="bloco-pedidos">
      <div class="esp">
        <ion-icon name="medkit-outline"></ion-icon>
        <div class="text1">Produtos</div>
      </div>

      <ion-card *ngFor="let item of listaPedidos">
        <img src="../../assets/img/{{item.img}}" alt="">
        <div class="desc">
          <div class="nome-produto">{{item.nome}}</div>
          <div class="quantidade">
            <div class="box">
              <div class="number"><input type="number" value="1"></div>
            </div>
            <div class="preco">R${{item.preco}}</div>
          </div>
          <a href="">Remover</a>
        </div>   
      </ion-card>

    </div>
  </div>
</ion-content>