*{
    font-family: 'Rubik', sans-serif;
}

.name-cart{
  min-width: 25px;
  max-width: 30px;
  float: right;
}

ion-menu-button {
    color: white;
  }

  ion-col {
    padding-left: 0;
  }

  #body {
    background-color: rgb(248, 248, 248);
    height: 100%;
  }
  
  #body .initial-box{
    margin-left: 5px;
  }

  #body .text{

    padding-top: 20px;

    color: black;
    max-width: 80%;
    font-size: 1.3rem;
      
    font-weight: 1000;
  }

  #body p{
    color: rgb(14, 14, 14);

    font-size: 0.8rem;
  }

  #body .botao{
    display: flex;
    margin: 0 auto;
  }

  #body .botao button{
    width: 95%;

    height: 2.5rem;
    color:var(--ion-color-secondary);

    background: none;

    
    margin: 0 auto;

    border: 2px solid var(--ion-color-secondary);
    border-radius:30px;

    outline: none;
  }

  #body .botao button:hover{
    background-color: #e0f5ff; 
  }

  #body .bloco-pedidos .esp{
    margin: 20px auto;
    max-width: 95%;

    border-radius: 2px;

    background-color: var(--ion-color-secondary);
    display: flex;
  }

  #body .bloco-pedidos .esp .text1{
    color: white
  }

  #body .bloco-pedidos .esp ion-icon{
    margin-left: 3px;
    padding-right: 10px;
    color: white;
  }

  #body .bloco-pedidos ion-card{
    display: flex;

    background-color: white;
  }

  #body .bloco-pedidos ion-card img{
    width: 100px;

    max-height: 7rem;
  }

  .desc{
    width: 85%;
  }

  #body .quantidade{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
  }

  #body .quantidade .preco{
    display: flex;
    color: black;

    font-size: 18px;
  }

  #body .nome-produto{
    margin-top: 5px;

    display: block;
    color: black;

    font-size: 18px;
  }

  #body .box{
    display: flex;
    align-items: center;

    border: 1px solid black;
    border-radius: 2px;
  }

  .number{
    display: flex;
    
  }

  .number input{
    width: 3rem;
    outline: none ;
    border: none;

    text-align: center;

    color: black;
  }

  .desc a{
    text-decoration: none;
  }

